
<div class="alert alert-info" role="alert" ng-if="isAuthenticated()">
	
	
	Precio <input type="number" ng-model = "price"  />
	Numero de personas: <input type="number" ng-model = "numberOfPerson"  />
	
	Precio total = {{price * numberOfPerson}}
	
	<a class='btn btn-default' ng-href="/#/compra/{{bundle.id}}/{{price}}/{{numberOfPerson}}">Comprar</a>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-default ">
			<div class="panel-heading">

				<h4>{{bundle.name}}</h4>
				<small>{{bundle.city}}</small>

			</div>
			<div class="panel-body">{{bundle.description}}</div>
		</div>

		<div class="col-md-6" ng-repeat="route in bundle.routes| orderBy : route.price : reverse">
				<div class="panel panel-default">
					<div class="panel-thumbnail text-center">
						<img ng-src="{{route.photo}}"
							class="img-responsive">
					</div>
					<div class="panel-body">
						<p class="lead">{{route.name}}</p>
						<p>{{route.description}}</p>
						<h3><span class="label label-success">{{route.price}}€</span></h3>
					</div>
				</div>
		</div>

	</div>

</div>


<!-- <div ng-repeat = "route in bundle.routes"> -->

<!-- <img alt="{{route.name}}" src="{{route.photo}}"> -->

<!-- </div> -->
</div>

